/* .post_detail{
    margin-bottom: 2em;
}


.post_detail{
    max-width: 600px;
}


.post_detail h2{
    margin-bottom: .4em;
} */


.post_detail h5{
    max-width:200px;
}

.circle_rating {
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    background-color: white;
    flex-shrink: 0;
}

