/* .post_detail{
    margin-bottom: 2em;
}


.post_detail{
    max-width: 600px;
}


.post_detail h2{
    margin-bottom: .4em;
} */


.post_detail h5{
    max-width:200px;
}


.card{
    -webkit-box-shadow: 2px 26px 46px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 26px 46px 11px rgba(0,0,0,0.75);
    box-shadow: 2px 26px 46px 11px rgba(0,0,0,0.75);
}

.circle_rating {
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    background-color: white;
    flex-shrink: 0;
}

